*{
    margin: 0;
    padding: 0;
}

body{
    /* height: 100%;
    width: 100%;*/
    background-color: rgb(0, 0, 0); 
    font-family: raleway;
    color: black;
    margin: 0;
}

.container{
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: absolute;
}

.navbar{
    width: 100%;
    height: 30vh;
    margin: auto;
    /* border-style: solid;
    border-color: red; */
    display: flex;
    align-items: center;
}

.nav{
    flex: 1;
    padding-left: 60px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 10px;
}


nav ul li a{
    text-decoration: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: larger;
    font-weight:500;
}

.container .btn{
    display: inline-block;
    background: linear-gradient(45deg, #aebddf, rgb(24, 23, 23));
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: rgb(255, 255, 255);
    box-shadow: 3px 8px 22px rgba(94, 28,68,0.15);
}

.csvUpdate{
    height: 100px;
    width: 300px;
    display: grid;
    flex-direction: row;
    align-items: center ;
    position: relative;
    top: 4%;
    /* border-color: rgb(85, 85, 107);
    border-style: solid;  */
}

.csvUpdate select{
  width: 150px;
  height: 50px;
  border-radius: 20px;
}

.content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: top;
    align-items: center ;
    color: rgb(255, 255, 255);
    /* border-color: blue;
    border-style: solid;  */
}

.content .wrapper{
  width: 1500px;
  height: 100px;
  display: flex;
  position: absolute;
  top: 32%;
}

.content .wrapper .backupblock{
    width: 90px;
    height: 60px;
    position: relative;
    top: 20px;
    left: 20px;
}

.content .wrapper .insertblock{
  width: 200px;
  height: 60px;
  position: relative;
  top: 20px;
  left:20px;
}

.content .csvDisplay{
  width: 89.7%;
  height: 1000px;
  /* border-color: rgb(15, 133, 21); */
  /* background-color: cornflowerblue; */
  /* border-style: solid; */
  position: absolute;
  bottom: -350;
}

.content select{
  width: 150px;
  height: 50px;
  border-radius: 20px;
}

.content input{
    width: 350px;
    max-width: 840px;
    height: 55px;
    border-radius: 30px;
    border: none;
    padding: 0  30px;
    outline: none;
    margin: 20px 0;
    font-size: 16px;
    /* border-color: green;
    border-style: solid; */
}
::placeholder{
    font-weight: 500;
    font-size: 16px
}
#update_bnt{
  width: 90px;
  height: 55px;
  background: linear-gradient(45deg, #aebddf, rgb(24, 23, 23));
  position: absolute;
  border-radius: 6px;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
}

#search_bnt{
    width: 90px;
    height: 55px;
    background: linear-gradient(45deg, #aebddf, rgb(24, 23, 23));
    border-radius: 6px;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
}

#backup_bnt{
  width: 90px;
  height: 55px;
  background: linear-gradient(45deg, #aebddf, rgb(24, 23, 23));
  border-radius: 6px;
  padding: 10px 20px;
  color: rgb(255, 255, 255);

}
#insert_bnt{
  width: 90px;
  height: 55px;
  background: linear-gradient(45deg, #aebddf, rgb(24, 23, 23));
  border-radius: 6px;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
}

h1.bkup-msg{
  width: 1000px;
  height: 50;
  position: relative;
  bottom: 500px;
  text-align: center;
}

#map{
    height: 60%;
    width: 60%;
}
/*--popup--*/
#input-field {
  flex-direction: column;
}

#input-something {
  flex-direction: column;
}

.popup .content {
  width: 1000px;
  height: auto;
  position: absolute;
  top: 1000;
  left: 50%;
  flex-direction: column;
  transform: translate(-50%,-150%) scale(0);
  z-index: 2;
  /*text-align: center;*/
  padding: 20px;
  border-radius: 20px;
  background: #262626;
  box-shadow:  38px 38px 56px #1e1e1e, 
              -25px -25px 38px #1e1e1e;
  /*z-index: 1;*/
 }

 .analyzer1 .ana_window1{
  width: 1000px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  flex-direction: column;
  transform: translate(-50%,-150%) scale(0);
  z-index: 2;
  padding: 20px;
  border-radius: 20px;
  background: #262626;
  box-shadow: 38px 38px 56px #1e1e1e, -25px -25px 38px #1e1e1e;
 }
 .analyzer2 .ana_window2{
  width: 1000px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  flex-direction: column;
  transform: translate(-50%,-150%) scale(0);
  z-index: 2;
  padding: 20px;
  border-radius: 20px;
  background: #262626;
  box-shadow: 38px 38px 56px #1e1e1e, -25px -25px 38px #1e1e1e;
 }
 .analyzer3 .ana_window3{
  width: 1000px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  flex-direction: column;
  transform: translate(-50%,-150%) scale(0);
  z-index: 2;
  padding: 20px;
  border-radius: 20px;
  background: #262626;
  box-shadow: 38px 38px 56px #1e1e1e, -25px -25px 38px #1e1e1e;
 }
 .analyzer4 .ana_window4{
  width: 1000px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  flex-direction: column;
  transform: translate(-50%,-150%) scale(0);
  z-index: 2;
  padding: 20px;
  border-radius: 20px;
  background: #262626;
  box-shadow: 38px 38px 56px #1e1e1e, -25px -25px 38px #1e1e1e;
 }
 .analyzer5 .ana_window5{
  width: 1000px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  flex-direction: column;
  transform: translate(-50%,-150%) scale(0);
  z-index: 2;
  padding: 20px;
  border-radius: 20px;
  background: #262626;
  box-shadow: 38px 38px 56px #1e1e1e, -25px -25px 38px #1e1e1e;
 }
 .analyzer6 .ana_window6{
  width: 1000px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  flex-direction: column;
  transform: translate(-50%,-150%) scale(0);
  z-index: 2;
  padding: 20px;
  border-radius: 20px;
  background: #262626;
  box-shadow: 38px 38px 56px #1e1e1e, -25px -25px 38px #1e1e1e;
 }
 .analyzer7 .ana_window7{
  width: 1000px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  flex-direction: column;
  transform: translate(-50%,-150%) scale(0);
  z-index: 2;
  padding: 20px;
  border-radius: 20px;
  background: #262626;
  box-shadow: 38px 38px 56px #1e1e1e, -25px -25px 38px #1e1e1e;
 }
 .analyzer1.active .ana_window1 {
  transition: all 300ms ease-in-out;
  transform: translate(-50%,-50%) scale(1);
}
.analyzer2.active .ana_window2 {
  transition: all 300ms ease-in-out;
  transform: translate(-50%,-50%) scale(1);
}
.analyzer3.active .ana_window3 {
  transition: all 300ms ease-in-out;
  transform: translate(-50%,-50%) scale(1);
}
.analyzer4.active .ana_window4 {
  transition: all 300ms ease-in-out;
  transform: translate(-50%,-50%) scale(1);
}
.analyzer5.active .ana_window5 {
  transition: all 300ms ease-in-out;
  transform: translate(-50%,-50%) scale(1);
}
.analyzer6.active .ana_window6 {
  transition: all 300ms ease-in-out;
  transform: translate(-50%,-50%) scale(1);
}
.analyzer7.active .ana_window7 {
  transition: all 300ms ease-in-out;
  transform: translate(-50%,-50%) scale(1);
}
.analyzer1 .ana_window1 .close-btn1{
  position: absolute;
  right: -5;
  top: -5;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 30px;
  border-radius: 50%;
  padding: 2px 5px 7px 5px;
  background: #b73a3a;
  box-shadow: 5px 5px 15px #1e1e1e, -5px -5px 15px #1e1e1e;
  text-align: center;
}
.analyzer2 .ana_window2 .close-btn2{
  position: absolute;
  right: -5;
  top: -5;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 30px;
  border-radius: 50%;
  padding: 2px 5px 7px 5px;
  background: #b73a3a;
  box-shadow: 5px 5px 15px #1e1e1e, -5px -5px 15px #1e1e1e;
  text-align: center;
}
.analyzer3 .ana_window3 .close-btn3{
  position: absolute;
  right: -5;
  top: -5;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 30px;
  border-radius: 50%;
  padding: 2px 5px 7px 5px;
  background: #b73a3a;
  box-shadow: 5px 5px 15px #1e1e1e, -5px -5px 15px #1e1e1e;
  text-align: center;
}
.analyzer4 .ana_window4 .close-btn4{
  position: absolute;
  right: -5;
  top: -5;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 30px;
  border-radius: 50%;
  padding: 2px 5px 7px 5px;
  background: #b73a3a;
  box-shadow: 5px 5px 15px #1e1e1e, -5px -5px 15px #1e1e1e;
  text-align: center;
}
.analyzer5 .ana_window5 .close-btn5{
  position: absolute;
  right: -5;
  top: -5;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 30px;
  border-radius: 50%;
  padding: 2px 5px 7px 5px;
  background: #b73a3a;
  box-shadow: 5px 5px 15px #1e1e1e, -5px -5px 15px #1e1e1e;
  text-align: center;
}
.analyzer6 .ana_window6 .close-btn6{
  position: absolute;
  right: -5;
  top: -5;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 30px;
  border-radius: 50%;
  padding: 2px 5px 7px 5px;
  background: #b73a3a;
  box-shadow: 5px 5px 15px #1e1e1e, -5px -5px 15px #1e1e1e;
  text-align: center;
}
.analyzer7 .ana_window7 .close-btn7{
  position: absolute;
  right: -5;
  top: -5;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 30px;
  border-radius: 50%;
  padding: 2px 5px 7px 5px;
  background: #b73a3a;
  box-shadow: 5px 5px 15px #1e1e1e, -5px -5px 15px #1e1e1e;
  text-align: center;
}
.popup .close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 30px;
  border-radius: 50%;
  padding: 2px 5px 7px 5px;
  background: red;
  text-align: center;
  box-shadow: 5px 5px 15px #1e1e1e, -5px -5px 15px #1e1e1e;
}

.popup.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%,-50%) scale(1);
}

#second-button{
  position: absolute;
  left: 900;
  top: 30;
}


/*Analyer*/
.dropbtn {
  background: linear-gradient(45deg, #aebddf, rgb(24, 23, 23));
  color: white;
  padding: 16px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  width: 200;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
background: linear-gradient(45deg, #aebddf, rgb(24, 23, 23));
}
/*----------CVS Table--------*/

table.blueTable {
    border: 1px solid #080b0e;
    background-color: #EEEEEE;
    width: 100%;
    text-align: center;
    font-family:serif;
    font-size: large;
    border-collapse: collapse;
    position: relative;
  }
  table.blueTable td, table.blueTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
  }
  table.blueTable tbody td {
    font-size: 13px;
  }
  table.blueTable tr:nth-child(even) {
    /*background: #D0E4F5;*/
    background: #5d7185;
  }
  table.blueTable thead {
    /*background: #1C6EA4;*/
    background: #394953;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
  }
  table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
  }
  table.blueTable thead th:first-child {
    border-left: none;
  }
  
  table.blueTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #D0E4F5;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    border-top: 2px solid #444444;
  }
  table.blueTable tfoot td {
    font-size: 14px;
  }
  table.blueTable tfoot .links {
    text-align: right;
  }
  table.blueTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }

td {
    display: table-cell;
    vertical-align: inherit;
    align-items: center;
}

