*{
    margin: 0;
    padding: 0;
}

body{
    /* height: 100%;
    width: 100%;*/
    background-color: rgb(0, 0, 0); 
    font-family: raleway;
    color: black;
    margin: 0;
}

.container{
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}

.navbar{
    width: 100%;
    height: 30vh;
    margin: auto;
    /* border-style: solid;
    border-color: red; */
    display: flex;
    align-items: center;
}

.nav{
    flex: 1;
    padding-left: 60px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 10px;
}


nav ul li a{
    text-decoration: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: larger;
    font-weight:500;
}

.container .btn{
    display: inline-block;
    background: linear-gradient(45deg, #aebddf, rgb(24, 23, 23));
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: rgb(255, 255, 255);
    box-shadow: 3px 8px 22px rgba(94, 28,68,0.15);
}

.csvUpdate{
    height: 100px;
    width: 300px;
    display: grid;
    flex-direction: row;
    align-items: center ;
    position: relative;
    top: 4%;
    /* border-color: rgb(85, 85, 107);
    border-style: solid;  */
}

.csvUpdate select{
  width: 150px;
  height: 50px;
  border-radius: 20px;
}

.content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: top;
    align-items: center ;
    color: rgb(255, 255, 255);
    /* border-color: blue;
    border-style: solid;  */
}

.content .wrapper{
    width: 800px;
    height: 100px;
    display: flex;
    /* border-color: chocolate;
    border-style: solid;  */
    position: relative;
    bottom: 50%;
    left: 20%;
}

.content .wrapper .backupblock{
    width: 90px;
    height: 60px;
    position: relative;
    top: 20px;
    left: 20px;
}
.content .csvDisplay{
    width: 89.7%;
    height: 1000px;
    /* border-color: rgb(15, 133, 21); */
    /*background-color: cornflowerblue;*/
    /* border-style: solid; */
    position:absolute;
    bottom:-300px;
}

.content select{
  width: 150px;
  height: 50px;
  border-radius: 20px;
}

.content input{
    width: 350px;
    max-width: 840px;
    height: 55px;
    border-radius: 30px;
    border: none;
    padding: 0  30px;
    outline: none;
    margin: 20px 0;
    font-size: 16px;
    /* border-color: green;
    border-style: solid; */
}
::placeholder{
    font-weight: 500;
    font-size: 16px
}
#update_bnt{
  width: 90px;
  height: 55px;
  background: linear-gradient(45deg, #aebddf, rgb(24, 23, 23));
  border-radius: 6px;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
}

#search_bnt{
    width: 90px;
    height: 55px;
    background: linear-gradient(45deg, #aebddf, rgb(24, 23, 23));
    border-radius: 6px;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
}

#backup_bnt{
  width: 90px;
  height: 55px;
  background: linear-gradient(45deg, #aebddf, rgb(24, 23, 23));
  border-radius: 6px;
  padding: 10px 20px;
  color: rgb(255, 255, 255);

}

h1.bkup-msg{
  width: 1000px;
  height: 200px;
  /* border-color: green;
  border-style: solid; */
  position: absolute;
  bottom: 600px;
}

#map{
    height: 60%;
    width: 60%;
}
/*--popup--*/
#input-field {
  flex-direction: column;
}

#input-something {
  flex-direction: column;
}

.popup .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-150%) scale(0);
  width: 1000px;
  height: 450px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  background: #262626;
  box-shadow:  38px 38px 56px #1e1e1e, 
              -25px -25px 38px #1e1e1e;
  z-index: 1;
 }

 .popup .close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 30px;
  border-radius: 50%;
  padding: 2px 5px 7px 5px;
  background: #292929;
  box-shadow:  5px 5px 15px #1e1e1e, 
              -5px -5px 15px #1e1e1e;
  }

.popup.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%,-50%) scale(1);
}

/*----------CVS Table--------*/
table.blueTable {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }
  table.blueTable td, table.blueTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
  }
  table.blueTable tbody td {
    font-size: 13px;
  }
  table.blueTable tr:nth-child(even) {
    background: #D0E4F5;
  }
  table.blueTable thead {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
  }
  table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
  }
  table.blueTable thead th:first-child {
    border-left: none;
  }
  
  table.blueTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #D0E4F5;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    border-top: 2px solid #444444;
  }
  table.blueTable tfoot td {
    font-size: 14px;
  }
  table.blueTable tfoot .links {
    text-align: right;
  }
  table.blueTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }
