{% extends "index.html" %}
{% block content %}
 <!--<h1>{{word}}</h1>-->
<table class="blueTable">
    <thead>
    <tr>
        {% for i in num_title %}
        <td>{{title[i]}}</td>
        {% endfor %}
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    </thead>
    <tfoot>
    <!--<tr>
    <td colspan="42"> 
    <div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a></div>
    </td>
    </tr>-->
    <h1>Current csv file : {{file}}</h1> 
    </tfoot>
    <tbody>
        <tr>
            {% for i in num_total %}
            <tr>
                {% for j in num_list %}
                    <td>{{arr[i][0][j]}}</td>
                {% endfor %}
                <form class="editrow" method="POST" action="/edit">
                    <td><button value="{{arr[i][1], i}}" name = "edit_row"><img src="{{ url_for('static', filename='images/edit.jpg') }}" alt="edit"></button>
                    </td>
                </form>
                <form class="delrow" method="POST" action="/del">
                    <td><button value="{{arr[i][1], i}}" name = "delete_row"><img src="{{ url_for('static', filename='images/trash.jpg') }}" alt="trash"></button>
                    </td>
                </form>
            </tr>
            {% endfor %}
        </tr>
    </tbody>
</table>
{% endblock %}
