{% extends "index.html" %}
{% block content %}
 <!--<h1>{{word}}</h1>-->
<table class="blueTable">
    <thead>
    <tr>
        {% for i in num_title %}
        <td>{{title[i]}}</td>
        {% endfor %}
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    </thead>
    <tfoot>
    <!--<tr>
    <td colspan="42"> 
    <div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a></div>
    </td>
    </tr>-->
    <h1>Current csv file : {{file}}</h1> 
    </tfoot>
    <tbody>
        <tr>
            {% for i in num_total %}
            <tr>
                {% for j in num_list %}
                    <td>{{arr[i][0][j]}}</td>
                {% endfor %}
                <!-- <form class="editrow" method="POST" action="/edit">
                    <td><button value="{{arr[i][1], i}}" name = "edit_row"><img src="{{ url_for('static', filename='images/edit.jpg') }}" alt="edit"></button>
                    </td>
                </form> -->
                <td>
                    <button onclick="togglePopup(this.id)" name="edit_{{i}}" class="first-button" id = {{i}}>
                        <img src="{{ url_for('static', filename='images/edit.jpg') }}" alt="logo">{{i}}
                    </button>
                     <script>
                      function togglePopup(clicked_id) {
                            document.getElementById("input-field").innerHTML = '{% for idx,title in enumerate(title) %}<p>{{title}}</p>\
                            row: '+clicked_id+' col: {{idx}} <input id="input-something" name = "h{{idx}}" value="" ="text" class="validate">{% endfor %}\
                            <button id="second-button" value="'+clicked_id+'" name="row">Confirm</button></div>';
                            document.getElementById("popup-1").classList.toggle("active");
                      }
                     </script>
                    <div class="popup" id="popup-1">
                        <div class="content">
                            <div class="close-btn" onclick="togglePopup()">×</div>
                                <h1>Update fields</h1> 
                        <form class = "update_row" method ="POST" action="\edit">
                        <div id="input-field" class="input-field">
                        </form>
                        </div>
                    </div>
                </td>
                <form class="delrow" method="POST" action="/del">
                    <td><button value="{{arr[i][1], i}}" name = "delete_row"><img src="{{ url_for('static', filename='images/trash.jpg') }}" alt="trash">{{i}}</button>
                    </td>
                </form>
            </tr>
            {% endfor %}
        </tr>
    </tbody>
</table> 
{% endblock %}